# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
thumbnails/*.png
.well-known/
crt/

# Test files
dirCreate.py
fileInject.py
treePrint.py
감사콩.gif
돔황챠.png
college.xls
sample.csv
test.py
videoplayback.mp4
dataCache.db