[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
APScheduler = "*"
charset-normalizer = "*"
click = "*"
decorator = "*"
exceptiongroup = "*"
fastapi = "*"
fastapi-login = "*"
filelock = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
itsdangerous = "*"
moviepy = "*"
mysql = "*"
mysql-connector-python = "*"
mysqlclient = "*"
numpy = "*"
pillow = "*"
pipenv = "*"
proglog = "*"
platformdirs = "*"
pydantic = "*"
pydantic-core = "*"
PyJWT = "*"
PyMuPDF = "*"
PyMuPDFb = "*"
python-dateutil = "*"
python-multipart = "*"
pytz = "*"
requests = "*"
six = "*"
sniffio = "*"
SQLAlchemy = "*"
starlette = "*"
tqdm = "*"
typing_extensions = "*"
tzlocal = "*"
uvicorn = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"

[dev-packages]

[requires]
python_version = "3.10"
